<div class="container">
  <div class="box">
    <p>Алгоритм: "Longest Palindrome String"</p>
    <input id="input" type="text" [(ngModel)]="input">
    <button id="submit" (click)="onSubmit()">Вычислить</button>
    <p id="output">{{output}}</p>
  </div>
</div>
